<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone %>
  </div>

  <%= f.button :submit ,:class=> "btn btn-primary" %>
<% end %>
