<p id="notice"><%= notice %></p>

<p>
  <b>What:</b>
  <%= @learn.what %>
</p>

<p>
  <b>How:</b>
  <%= @learn.how %>
</p>

<p>
  <b>Status:</b>
  <%= @learn.status %>
</p>


<%= link_to 'Edit', edit_learn_path(@learn) %> |
<%= link_to 'Back', learns_path %>
